<template>
  <div>
    <div v-if="labelData" class="flex column items-center">
      <q-btn-toggle class="type-select" v-model="labelData.type" toggle-color="primary" :options="TYPE_OPTIONS"
        @input="$refs.card.$refs.canvas && $refs.card.$refs.canvas.refreshSize()" />

      <LabelCard :label-data="labelData" ref="card" editable="true"
        :style="{ /*width: labelData.typeInfo().width + 'px',*/ height: labelData.typeInfo().height + 'px' }"
        :force-image-size="{ width: labelData.typeInfo().width + 'px', height: (labelData.typeInfo().height - 50) + 'px' }" />
    </div>

    <q-dialog v-model="duplicateLabelModal">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Name for copy of</div>
          <div>{{ labelData.name }}</div>
        </q-card-section>

        <q-card-section>
          <!-- TODO: handle enter -->
          <q-input dense v-model="newLabelName" autofocus :rules="[labelNameMustNotExist]"
            @keyup.enter="newLabelModal = false; createNew()" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn flat label="Create label" v-close-popup @click="doDuplication" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-inner-loading :showing="!$subReady.labelByKey || saving" />
  </div>
</template>

<script>
import { QBtnToggle, QInnerLoading } from "quasar";
import { omit, omitBy, clone, defer } from 'lodash'

import { Labels } from "../../lib/collections";
import LabelDataWrapper from "../../lib/LabelDataWrapper";
import { TYPE_OPTIONS } from "../constants";
import LabelCard from "./LabelCard";

export default {
  props: ["labelKey"],
  components: {
    LabelCard,
    QBtnToggle,
    QInnerLoading
  },
  meteor: {
    $subscribe: {
      labelByKey: self => [self.labelKey]
    },
    originalLabelData: function () {
      // vue-meteor-tracker doesn't support arrow function here
      return Labels.findOne({ key: this.labelKey });
    }
  },
  data: () => ({
    TYPE_OPTIONS: TYPE_OPTIONS,
    loading: true,
    saving: false,
    labelData: null,
    originalLabelData: null,
    duplicateLabelModal: false,
    newLabelName: '',
  }),
  computed: {
    newLabelKey: self => self.newLabelName
            .toLowerCase()
            .replace(/\s+/g, '-')
            .replace(/[^a-z0-9-]/g, ''),
  },
  watch: {
    originalLabelData: function (newVal, oldVal) {
      console.log(
        "originalLabelData change: ",
        oldVal,
        "->",
        newVal,
        `subReady=${this.$subReady.labelByKey}`
      );
      oldVal &&
        newVal &&
        console.log(
          "originalLabelData diff:",
          omitBy(newVal, (v, k) => oldVal[k] === v)
        );
      if (this.loading /*&& !oldVal && newVal && !this.labelData*/) {
        this.labelData = LabelDataWrapper(clone(newVal)); // clone so that modification doesn't modify mongo directly
        if (newVal && newVal.image)
          // if the doc exists in minimongo, we might get e.g. an imageless copy and a second change with the full doc
          this.loading = false;
      } else if (this.saving) {
        this.labelData = LabelDataWrapper(clone(newVal)); // clone so that modification doesn't modify mongo directly
        this.saving = false;
      } else if (newVal) {
        if (oldVal.key !== newVal.key) {
          console.warn("new label key - reloading")
          window.location.reload() // HACK: not sure how to re-create this component in a clean state
        }
        this.$q.notify({
          message:
            "Warning: Label data changed - it's best to refresh the page to get the current version",
          color: "warning",
          classes: "text-bold",
          actions: [
            {
              icon: "refresh",
              label: "Refresh",
              color: "white",
              handler: () => window.location.reload()
            }
          ]
        });
      }
    }
  },
  methods: {
    async labelNameMustNotExist() {
      console.log("[labelNameMustNotExist]", this.newLabelKey, this.newLabelKey && Labels.findOne({ key: this.newLabelKey }))
      return !this.newLabelKey || !Labels.findOne({ key: this.newLabelKey }) || 'Already exists'
    },
    saveData: function () {
      if (this.$refs.card.$refs.canvas)
        this.$refs.card.$refs.canvas.saveImage();
      console.log("Saving:", this.labelData);
      this.saving = true;

      const affected = Labels.update(
        { _id: this.labelData._id },
        { $set: { ...this.labelData.data(), updated: new Date() } },
        (err, affected) => {
          defer(() => (this.saving = false)); // allow the watcher to run first - but it's not guaranteed to run as we might not have changed something, so we should set it in any case
          if (err) {
            console.log("Error while saving to server:", err);
            this.$q.notify({
              message: "Error while saving to server:\n" + err,
              color: "negative"
            });
            return;
          }
          console.log("Update done, affected", affected);
          this.$q.notify({
            message: "Saved",
            icon: "check",
            color: "positive",
            classes: "text-bold compact-notification",
            position: "center",
            timeout: 500
          });
        }
      );
      console.log("Client-side update done, affected", affected);
      if (!affected)
        console.warn(`Save error - no affected documents`, {
          _id: this.labelData._id
        });
    },

    startDuplication: async function () {
      this.saveData() // for good measure
      this.newLabelName = '' // this.labelData.data().name - missing first-run validation
      this.duplicateLabelModal = true
    },
    doDuplication: async function () {
      if (!this.newLabelName) throw new Error(`missing new name`)
      if (!this.newLabelKey) throw new Error(`missing new name`)

      const newLabel = {
        ...omit(this.labelData.data(), ['updated', '_id']),
        key: this.newLabelKey,
        name: this.newLabelName,
      }
      // let copyTry = 1
      // const checkKey = async () => new Promise((resolve, reject) => Labels.findOne({ key: newLabel.key }, (err, result) => {
      //   if (err) { reject(err) } else { resolve(result) }
      // }))
      // console.log("Has?", newLabel.key, await checkKey())
      // while (await checkKey()) {
      //   copyTry++
      //   newLabel.key = oldKey + "_copy" + copyTry
      //   console.log("Has?", newLabel.key, await checkKey())
      // }
      console.log("creating duplicate:", newLabel)
      Labels.insert(newLabel, (err, id) => {
        if (err) {
          console.log("Error while duplicating:", err);
          this.$q.notify({
            message: "Error while duplicating:\n" + err,
            color: "negative"
          });
          return;
        }
        console.log("Duplicate done, new ID:", id);
        this.$q.notify({
          message: "Duplicated",
          icon: "check",
          color: "positive",
          classes: "text-bold compact-notification",
          position: "center",
          timeout: 500
        })
        setTimeout(() => {
          this.$router.push({ path: '/edit/' + newLabel.key })
        }, 700)
      });
    },
    remove: function () {
      console.log("deleting:", this.labelData.data())
      this.$q.dialog({
        title: 'Delete label?',
        message: 'This cannot be undone',
        okText: 'Delete',
        cancel: true,
        persistent: true
      }).onOk(() => {
        console.log('Agreed to delete', this.labelData.data());

        Labels.remove({ _id: this.labelData.data()._id }, (err, deleted) => {
          if (err) {
            console.log("Error while deleting:", err);
            this.$q.notify({
              message: "Error while deleting:\n" + err,
              color: "negative"
            });
            return;
          }
          console.log("Delete done", deleted);
          this.$router.push({ path: '/' })
          this.$q.notify({
            message: "Deleted",
            icon: "check",
            color: "positive",
            classes: "text-bold compact-notification",
            position: "center",
            timeout: 500
          });
        }
        );
      })
    }
  }
};
</script>

<style lang="sass">
@import "../styles/quasar-custom"

.type-select
    margin: 10px 10px 3px
</style>