<template>
    <div>
        <router-link :to="'/print/' + this.labelKey" target="_blank" class="nostyle" @click.native="$route.matched[0].instances.default.saveData()">
            <q-btn flat icon="print" label="Print"></q-btn>
        </router-link>
        <q-btn flat icon="file_copy" label="Duplicate" @click="$route.matched[0].instances.default.startDuplication()"></q-btn>
        <q-btn flat icon="delete" label="Delete" @click="$route.matched[0].instances.default.remove()"></q-btn>
        <q-btn flat icon="save" label="Save" @click="$route.matched[0].instances.default.saveData()"></q-btn>
    </div>
</template>

<script>
    import {QBtn, QIcon} from 'quasar'

    export default {
        name: "EditToolBar",
        props: ['labelKey'],
        components: {QBtn, QIcon},
    }
</script>

<style scoped>

</style>