<template>
    <span class="editable-field" ref="field"
          :contenteditable="editable ? true : false"
          @input="$emit('input', $event.target.innerText.trim())"
          :class="{['-empty']: !value && !editable, ['-placeholder']: !value}"
          @click="maybeSelectPlaceholder"
    ></span>
    <!--<q-input v-model="labelData.name" label="Title" dense borderless />-->
    <!--<slot v-if="!content" class="-placeholder"></slot>-->
</template>

<script>
    export default {
        name: 'EditableField',
        props: ['value', 'editable'],
        mounted() {
            this.resetEditField()
        },
        watch: {
            value(newVal, oldVal) {
                const outerChange = newVal !== this.$el.innerText.trim()
                // console.log(`EditableField change? ${outerChange}:`, oldVal, '->', newVal, '// current:', this.$el.innerText)
                if (outerChange) {
                    this.resetEditField()
                }
            },
        },
        methods: {
            resetEditField() {
                this.$el.innerText = this.value || this.$slots.default[0].text
            },
            maybeSelectPlaceholder() {
                if (this.editable && !this.value) {
                    const range = document.createRange()
                    range.selectNodeContents(this.$refs.field)
                    const sel = window.getSelection()
                    sel.removeAllRanges()
                    sel.addRange(range)
                }
            },
        },
    }
</script>

<style lang="sass">
.editable-field
    //// increase clickable area
    //line-height: calc(1em + 20px)
    line-height: 1em

    &.-placeholder
        font-style: italic
        color: #bbb
        .text-white > &
            color: white
</style>