<template>
    <div class="icon-select-dropdown">
        <!--<div v-if="!editable">
            <QIcon :name="value ? `img:icons/category_icons_${value}.svg` : 'crop_free'"
                   :class="{['-placeholder']: !value}" />
        </div>-->
        <div>
            <QBtnDropdown size="1.5em" dense unelevated stretch menu-anchor="top left" menu-self="top left" auto-close
                          :disabled="!editable"
                          :icon="value ? `img:icons/category_icons_${value}.svg` : 'crop_free'"
                          :class="{['-placeholder']: !value, ['no-pointer-events']: !editable}">
                <QList>
                    <QItem v-for="category in CATEGORY_ICONS" :key="category.key" clickable @click="selectCategory(category)">
                        <QItemSection avatar>
                            <QIcon :name="`img:icons/category_icons_${category.key}.svg`" />
                        </QItemSection>
                        <QItemSection>
                            {{category.label}}
                        </QItemSection>
                    </QItem>
                </QList>
            </QBtnDropdown>
        </div>
    </div>
</template>

<script>
    import {QIcon, QBtnDropdown, QBtn, QList, QItem, QItemSection} from 'quasar'
    import {CATEGORY_ICONS} from "../constants"


    export default {
        name: 'IconSelect',
        props: ['value', 'editable'],
        components: {QIcon, QBtnDropdown, QBtn, QList, QItem, QItemSection},
        data: () => ({CATEGORY_ICONS}),
        methods: {
            selectCategory(category) {
                console.log('Selecting category:', category)
                // this.value = category.key
                this.$emit('input', category.key)
            },
        },
    }
</script>

<style lang="sass">
.icon-select-dropdown
    & .q-btn[disabled]
        opacity: 1 !important
    .-placeholder
        .q-icon
            // color: #bbb - doesn't work because of questionmark svc
            opacity: 0.3

    .q-btn-dropdown__arrow
        margin: 0
        display: none

</style>