<template>
    <div class="impact-select-dropdown">
        <div>
            <QBtnDropdown size="1.5em" dense unelevated stretch menu-anchor="top left" menu-self="top left" auto-close
                          :disabled="!editable"
                          icon="img:icons/location.svg"
                          :class="{['no-pointer-events']: !editable, ['text-' + currentCategory.textColor]:true}">
                <QList>
                    <QItem v-for="category in IMPACT_CATEGORIES" :key="category.key" clickable @click="selectCategory(category)" :class="['bg-' + category.color,'text-' + category.textColor]">
                        <QItemSection>
                            {{category.label}}
                        </QItemSection>
                    </QItem>
                </QList>
            </QBtnDropdown>
        </div>
    </div>
</template>

<script>
    import {QIcon, QBtnDropdown, QBtn, QList, QItem, QItemSection} from 'quasar'
    import {IMPACT_CATEGORIES} from "../constants"

    export default {
        name: 'ImpactSelect',
        props: ['value', 'editable'],
        components: {QIcon, QBtnDropdown, QBtn, QList, QItem, QItemSection},
        data: () => ({IMPACT_CATEGORIES}),
        computed: {
            currentCategory: ({IMPACT_CATEGORIES, value}) => IMPACT_CATEGORIES.find(({key})=>key===value)
        },
        methods: {
            selectCategory(category) {
                console.log('Selecting impact category:', category)
                this.$emit('input', category.key)
            },
        },
    }
</script>

<style lang="sass" >
.impact-select-dropdown
    & .q-btn[disabled]
        opacity: 1 !important
    .q-icon
        width: auto
        // color: #... - doesn't work because of questionmark svg
        filter: invert(100%) // https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element
    .-placeholder
        .q-icon
            opacity: 0.3
            //.text-white &


    .q-btn-dropdown__arrow
        margin: 0
        display: none

</style>