<template>
  <div class="image-container" :class="editable ? '-editable':''">
    <!--suppress CheckEmptyScriptTag -->
    <croppa
      v-model="croppa"
      :passive="!editable"
      :placeholder="editable ? undefined : 'No image'"
      :initial-image="value"
      :auto-sizing="autoSizing"
      :prevent-white-space="true"
      :show-remove-button="false"
      :show-loading="true"
      :quality="2"
      :replace-drop="true"
    />

    <q-inner-loading :showing="croppa.loading">
      <!-- defaults to QSpinner - but during croppa draw, the browser doesn't draw frames so it looks ugly.
      I opted to hack css spinning animation as that is still rendered-->
      <q-circular-progress class="spinning" :value="42" size="xl" />
    </q-inner-loading>

    <div class="-hover-tools" v-if="editable">
      <q-btn-group>
        <q-btn @click="croppa.rotate(-1)">
          <q-icon name="rotate_left" />
          <q-tooltip
            anchor="bottom middle"
            :offset="[0,35]"
            content-class="-white"
          >Rotate counter-clockwise</q-tooltip>
        </q-btn>
        <q-btn @click="croppa.rotate(1)">
          <q-icon name="rotate_right" />
          <q-tooltip anchor="bottom middle" :offset="[0,35]" content-class="-white">Rotate clockwise</q-tooltip>
        </q-btn>
      </q-btn-group>
      <q-btn-group>
        <q-btn @click="croppa.flipX()">
          <q-tooltip
            anchor="bottom middle"
            :offset="[0,35]"
            content-class="-white"
          >Flip along vertical axis</q-tooltip>
          <q-icon name="flip" />
        </q-btn>
        <q-btn @click="croppa.flipY()">
          <q-tooltip
            anchor="bottom middle"
            :offset="[0,35]"
            content-class="-white"
          >Flip along horizontal axis</q-tooltip>
          <q-icon name="flip" class="rotate-90" />
        </q-btn>
      </q-btn-group>
      <q-btn @click="croppa.chooseFile()" icon="image" label="Select"></q-btn>
    </div>
  </div>
</template>

<script>
import {
  QIcon,
  QBtn,
  QBtnGroup,
  QTooltip,
  QInnerLoading,
  QCircularProgress
} from "quasar";

export default {
  name: "LabelImage",
  components: {
    QBtn,
    QIcon,
    QBtnGroup,
    QTooltip,
    QInnerLoading,
    QCircularProgress
  },
  props: ["value", "width", "height", "editable"],
  data: () => ({
    croppa: {},
    autoSizing: true
  }),
  watch: {
    value(newVal, oldVal) {
      this.croppa.refresh(); // doesn't refresh autosizing atm
    }
  },
  methods: {
    refreshSize() {
      console.log("Refreshing canvas size...");
      // this.saveImage() - would be needed if we do .refresh(), but would take the cropped image and not the originally selected :/
      // defer(() => this.croppa.refresh()) // -> doesn't trigger autosizing :/  https://github.com/zhanziyang/vue-croppa/issues/212
      this.autoSizing = false;
      setTimeout(() => {
        this.autoSizing = true;
      }, 500);
    },
    saveImage: function() {
      console.log("Saving image", this.croppa);
      this.$emit("input", this.croppa.generateDataUrl());
    }
  }
};
</script>

<style lang="sass">
@import "../styles/fonts"
@import "../styles/quasar-custom"

.image-container
    flex: 1
    width: 100%;
    &.-editable
      overflow: visible;
    .croppa-container
        height: 100%
        // VueCroppa's default is inline-block
        display: block

        canvas
            // resizing transition looks awful
            transition: none

            position: relative
            overflow: hidden

    // &:hover .-hover-tools
    //     bottom: 5px
    .-hover-tools
        position: absolute
        bottom: -60px
        transition: bottom cubic-bezier(0.35, 0.51, 0.07, 1.01) .5s
        display: flex
        width: 100%
        justify-content: center
        @extend %system-font

        & > *
            margin: 3px

        .q-btn
            background-color: white
            padding: 4px 10px
</style>