<template>
  <QCard class="label-card" :class="{
    ['--size-' + (hideImage ? 'small' : labelData.type)]: true,
    '-editable': editable
  }">
    <LabelTitle
      class="-title"
      :label-data.sync="labelData"
      :editable="editable"
      :show-placeholder="editable"
    />
    <LabelImage
      v-if="labelData.typeInfo().image && !hideImage"
      ref="canvas"
      class="-image"
      v-model="labelData.image"
      :editable="editable"
    />
    <!-- :style="forceImageSize || {flexGrow: 1}" -->
  </QCard>
</template>

<script>
import { QCard } from "quasar";

import LabelImage from "./LabelImage";
import LabelTitle from "./LabelTitle";

export default {
  name: "LabelCard",
  components: { QCard, LabelImage, LabelTitle },
  props: {
    labelData: {},
    editable: false,
    forceImageSize: null,
    hideImage: false
  }
};
</script>

<style lang="sass">
@import "../styles/fonts"
@import "../styles/quasar-custom"

.label-card
  @extend %label-font
  margin: 10px
  display: flex
  flex-direction: column
  transition: all 0.3s
  overflow: hidden
  max-width: 132mm
  align-items: stretch
  font-size: 2.5mm
  &.-editable
    overflow: visible;
    margin-bottom: 70px;

  &.--size-small, &.--size-medium, &.--size-large
    width: 138mm
  &.--size-medium
    height: 84mm
  &.--size-large
    height: 138mm

  .-title
    flex: 0 0 auto

    .-image
      flex: 1 0 auto
      width: 100%
</style>