<template>
  <div class="label-title-container">
    <div class="-main-wrapper">
      <IconSelect class="-icon" v-model="labelData.category" :editable="editable" />
      <EditableField
        class="-title"
        v-model="labelData.name"
        :editable="editable"
      >{{ showPlaceholder ? 'Title' : null }}</EditableField>
      <EditableField
        class="-subtitle"
        v-model="labelData.subTitle"
        :editable="editable"
      >{{ showPlaceholder ? 'Subtitle' : null }}</EditableField>
      <QSpace />
      <EditableField
        class="-price"
        v-model="labelData.price"
        :editable="editable"
      >{{ showPlaceholder ? 'Price' : null }}</EditableField>
    </div>
    <div class="-location-wrapper">
      <div class="-location" :class="[/* 'bg-' + labelData.impactInfo().color, */ 'text-' + labelData.impactInfo().textColor]" :style="`background: ${labelData.impactInfo().gradient}`">
        <ImpactSelect class="-qualityselect" v-model="labelData.impact" :editable="editable" />
        <EditableField
          v-model="labelData.origin"
          :editable="editable"
        >{{ showPlaceholder ? 'Origin' : '&mdash;' }}</EditableField>
      </div>
    </div>
  </div>
</template>

<script>
import EditableField from "./EditableField";
import { QIcon, QSpace } from "quasar";
import IconSelect from "./IconSelect";
import ImpactSelect from "./ImpactSelect";

export default {
  name: "LabelTitle",
  components: { IconSelect, ImpactSelect, EditableField, QIcon, QSpace },
  props: ["labelData", "editable", "showPlaceholder"]
};
</script>

<style lang="sass">
.label-title-container
  $padding: 7px
  display: flex
  align-items: center
  width: 100%
  min-height: 20mm
  align-items: stretch

  .-main-wrapper
    display: flex
    flex: 1 1 auto
    // margin: 0
    // justify-content: flex-start
    align-items: center
    // align-content: stretch

    & > *:not(.-empty)
      margin: $padding 2mm
    & > .q-space
      margin: 0

    .q-icon
      font-size: 2.5em

    .-icon
      margin: 0 0 0 10px

    .-title
      font-size: 2em
      flex: 0 1 auto
      line-height: 1
      min-width: 0 // allow flex shrink
      word-break: break-word
      font-weight: bold

    .-subtitle
      font-size: 1.3em

      // &:not(.-empty)::before
      //   content: '('
      // &:not(.-empty)::after
      //   content: ')'

    .-price
      font-size: 2em
      text-align: right

  .-location-wrapper
    flex: 1 0 auto
    display: flex
    flex-direction: column
    margin: 0
    justify-content: flex-start
    align-items: stretch
    align-content: stretch
    max-width: 37mm
    .-location
      flex: 1
      margin: 0
      padding: 12px
      display: flex
      gap: .3em
      flex-direction: row
      align-items: center
      color: white
      font-size: 1.5em
      min-width: 5em

      .-qualityselect
        max-height: 50px
        .q-btn__wrapper
          padding: 0
          min-height: 0
          .q-icon
            font-size: inherit

      span
        flex: 1 0 auto
        display: flex
        justify-content: center
        // margin-right: $padding
</style>

