<template name="appLayout">
  <div v-if="$route.name === 'print'">
    <Print :label-key="$route.params.labelKey" />
  </div>

  <q-layout v-else ref="layout" view="LHr lpR lFr">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <!-- <q-btn
                        flat round dense
                        @click="showLeft = !showLeft"
                        icon="menu"
        />-->

        <q-toolbar-title>
          <router-link to="/" class="nostyle">
            <span v-if="$route.path === '/'">Food Labeler</span>
            <q-btn v-else flat round dense icon="arrow_back" />
          </router-link>
        </q-toolbar-title>

        <div class="-toolbar">
          <router-view name="toolbar"></router-view>
          <!--<q-btn
                            flat round dense
                            @click="showRight = !showRight"
                            icon="menu"
          />-->
        </div>
      </q-toolbar>
      <!-- <q-tabs>
        <q-route-tab slot="title" icon="save" to="/" replace label="PubSub" />
        <q-route-tab slot="title" icon="alarm" to="/session" replace label="Session" />
        <q-route-tab slot="title" icon="help" to="/help" replace label="Help" />
      </q-tabs> -->
    </q-header>

    <!-- <q-drawer side="left" v-model="showLeft">
            <q-list no-border link inset-separator>
                <q-item-label header>Essential Links</q-item-label>
                <q-item clickable to="/">
                    <q-item-section avatar>
                        <q-icon color="primary" name="list"/>
                    </q-item-section>
                    <q-item-section>List of Labels</q-item-section>
                </q-item>
                <q-separator spaced inset="item"/>
                <q-separator spaced inset="item"/>
                <q-item clickable to="/help">
                    <q-item-section avatar>
                        <q-icon color="primary" name="help"/>
                    </q-item-section>
                    <q-item-section>Help</q-item-section>
                </q-item>
                <q-separator spaced inset="item"/>
            </q-list>
    </q-drawer>-->

    <!--<q-drawer side="right" v-model="showRight">
            <span>Right Drawer</span>
    </q-drawer>-->

    <q-page-container>
      <router-view></router-view>
    </q-page-container>

    <!--<q-footer>
            <q-toolbar>
                <q-toolbar-title>
                    <span>Footer is here</span>
                </q-toolbar-title>
            </q-toolbar>
    </q-footer>-->
  </q-layout>
</template>

<script>
import { Meteor } from "meteor/meteor";
//See main.js for the global import of 'Quasar' and vue.use() method.
//Don't move the 'Quasar' import from main.js - importing 'Quasar' later causes an error
import {
  QLayout,
  QHeader,
  QFooter,
  QDrawer,
  QToolbar,
  QToolbarTitle,
  QTabs,
  QRouteTab,
  QBtn,
  QIcon,
  QItem,
  QItemLabel,
  QItemSection,
  QList,
  QPageContainer,
  QSeparator
} from "quasar";

// To make the material-icons appear, we also have to add links in the /public folder
// to the web-font folder with the .css and .woff files
// in node_modules/@quasar/extras/material-icons.
//I find that this import for the material-icons needs to come after all the other quasar imports
import "@quasar/extras/material-icons/material-icons.css";
import "quasar/dist/quasar.min.css";
import Print from "./Print";

export default {
  data: function () {
    return {
      showLeft: false,
      showRight: false
    };
  },
  props: {},
  components: {
    Print,
    QLayout,
    QHeader,
    QFooter,
    QDrawer,
    QToolbar,
    QToolbarTitle,
    QTabs,
    QRouteTab,
    QBtn,
    QIcon,
    QItem,
    QItemLabel,
    QItemSection,
    QList,
    QPageContainer,
    QSeparator
  }
};
</script>

<style lang="sass">
@import '../../client/main'
@import 'styles/quasar-custom'

@import url('https://fonts.googleapis.com/css?family=Economica:400,700&display=swap')

.q-toolbar
    .q-icon
        font-size: 1.5em
</style>
