<template>
    <div>
        <router-link
            v-if="showPrint" 
            :to="'/print/' + printUrl"
            target="_blank" class="nostyle">
                <q-btn flat icon="print" label="Print"></q-btn>
        </router-link>
    </div>
</template>

<script>
    import {QBtn, QIcon} from 'quasar'

    export default {
        name: "HomeToolBar",
        props: ['labelKey'],
        components: {QBtn, QIcon},
        data: () => ({
            showPrint: false
        }),
        computed:{
            printUrl() {
                const selected = this.$route.matched[0].instances.default.selected
                return _(selected)
                    .toPairs()
                    .map(([key, val]) => `${key}_${val}`)
                    .join()
            }
        }
    }
</script>

<style scoped>

</style>