<template>
    <div>
        <div class="q-pa-md q-gutter-sm text-center">
            <template v-if="!printSelectionMode">
                <q-btn color="primary" @click="newLabelModal = true" icon="add">
                    Create a new label
                </q-btn>
                <q-btn @click="printSelectionMode = true" icon="print">
                    Print multiple
                </q-btn>
            </template>
            <template v-else>{{ Object.keys(selected).length }} selected
                <q-btn color="warning" @click="printSelectionMode = false" icon="cancel">
                    Cancel printing
                </q-btn>
            </template>


            <q-btn-dropdown :label="filterCategory ? filterCategory.label : 'Filter'"
                :icon="filterCategory ? `img:icons/category_icons_${filterCategory.key}.svg` : undefined">
                <q-list>
                    <q-item @click="filterCategory = null" clickable v-close-popup>
                        <q-item-section>
                            <q-item-label>No filter</q-item-label>
                        </q-item-section>
                    </q-item>
                    <q-item v-for="category in CATEGORY_ICONS" :key="category.key" @click="filterCategory = category"
                        clickable v-close-popup>
                        <q-item-section avatar>
                            <q-icon :name="`img:icons/category_icons_${category.key}.svg`" />
                        </q-item-section>
                        <q-item-section>
                            <q-item-label>{{ category.label }}</q-item-label>
                        </q-item-section>
                    </q-item>
                </q-list>
            </q-btn-dropdown>
        </div>

        <div class="flex column items-stretch min-h-full">
                <q-list padding>
                    <!-- <q-item-label header>List of labels</q-item-label> -->
                    <q-item v-for="label in filteredLabels" :key="label._id" class="card-list-entry">
                        <q-item-section v-if="printSelectionMode" side top class="justify-center row no-wrap col-auto">
                            <q-btn-toggle v-model="selected[label.key]" clearable toggle-color="primary" :options="[
                                { label: 'Print whole', value: 'all' },
                                { label: 'Top only', value: 'top-only' }
                            ]" @input="onPrintSelectionChange" />
                            <!-- <q-checkbox :value="selected[label.key]" @input="updateSelected(label.key, $event)" /> -->
                        </q-item-section>
                        <router-link :to="'/edit/' + label.key" tag="div" class="-card-wrapper col-grow">
                            <QCard class="label-card">
                                <LabelTitle :label-data="label" />
                            </QCard>
                        </router-link>
                        <q-item-section class="text-left text-grey-7 col-auto">
                            ({{ label.type }})
                        </q-item-section>
                    </q-item>
                </q-list>
        </div>

        <q-dialog v-model="newLabelModal">
            <q-card style="min-width: 350px">
                <q-card-section>
                    <div class="text-h6">Name for new label</div>
                </q-card-section>

                <q-card-section>
                    <!-- TODO: handle enter -->
                    <q-input dense v-model="newLabelName" autofocus :rules="[labelNameMustNotExist]"
                        @keyup.enter="newLabelModal = false; createNew()" />
                </q-card-section>

                <q-card-actions align="right" class="text-primary">
                    <q-btn flat label="Cancel" v-close-popup />
                    <q-btn flat label="Create label" v-close-popup @click="createNew" />
                </q-card-actions>
            </q-card>
        </q-dialog>
        <q-inner-loading :showing="!$subReady.labels" />
    </div>
</template>

<script>

import {size, assign} from 'lodash'
import { Labels } from '../lib/collections'

import {
    QList,
    QListHeader,
    QBtn,
    QItem,
    QItemMain,
    QItemLabel,
    QDialog,
    QCard,
    QCardSection,
    QInput,
    QCardActions,
} from 'quasar'
import LabelTitle from "./edit/LabelTitle"
import LabelDataWrapper, { Defaults } from "../lib/LabelDataWrapper"
import { CATEGORY_ICONS } from "./constants"


export default {
    data() {
        return {
            newLabelModal: false,
            printSelectionMode: false,
            newLabelName: '',
            selected: {},
            filterCategory: null,
            CATEGORY_ICONS,
        }
    },
    computed: {
        newLabelKey: self => self.newLabelName
            .toLowerCase()
            .replace(/\s+/g, '-')
            .replace(/[^a-z0-9-]/g, ''),
        filteredLabels: self => self.labels?.filter(label => !self.filterCategory || label.category === self.filterCategory.key),
    },
    components: {
        LabelTitle, QList, QListHeader, QBtn, QItem, QItemMain, QItemLabel, QDialog, QCard, QCardSection, QInput, QCardActions,
    },
    meteor: {
        $subscribe: {
            'labels': [],
        },
        labels: () => Labels.find({}, { sort: { name: 1 } }).map(LabelDataWrapper),
    },
    methods: {
        async labelNameMustNotExist() {
            return !this.newLabelKey || !Labels.findOne({ key: this.newLabelKey }) || 'Already exists'
        },
        onPrintSelectionChange() {
            for (const [name, sel] of Object.entries(this.selected)) {
                console.log(name, sel, { s: this.selected })
                if (!sel) delete this.selected[name];
            }
            console.log("show print button?", size(this.selected))
            this.$route.matched[0].instances.toolbar.showPrint = size(this.selected) > 0
        },
        createNew() {
            const newLabel = assign(
                { key: this.newLabelKey, name: this.newLabelName },
                Defaults
            )
            console.log(`Creating Label:`, newLabel)
            Labels.insert(newLabel, (err, id) => {
                if (err) return this.$q.notify({ message: "Failed to create label:\n" + err, color: 'negative' })
                console.log(`Label inserted:`, id)
                this.newLabelName = ''
            })
        },
    },
}
</script>

<style lang="sass" scoped>
.label-card
    cursor: pointer

.card-list-entry .-card-wrapper
    max-width: 138mm
</style>