<template>
  <div>
    <LabelCard
      v-for="label in labels"
      :key="label.id"
      class="flex column items-center"
      :label-data="label"
      :editable="false"
      :hideImage="selection[label.key] === 'top-only'"
    />
    <q-inner-loading :showing="labels.length < size(selection)" />
  </div>
</template>

<script>
import { QCard, QInnerLoading } from "quasar"
import {size, keys, find, chain} from 'lodash'

import { Labels } from "../lib/collections"
import LabelTitle from "./edit/LabelTitle"
import LabelImage from "./edit/LabelImage"
import LabelCard from "./edit/LabelCard"
import LabelDataWrapper from "../lib/LabelDataWrapper"

export default {
  props: ["labelKey"],
  components: {
    LabelTitle,
    LabelImage,
    QCard,
    QInnerLoading,
    LabelCard
  },
  meteor: {
    $subscribe: {
      labelsByKeys: self => [keys(self.selection)]
    },
    labels: function() {
      // vue-meteor-tracker doesn't support arrow function here
      const labels = Labels.find({
        key: { $in: keys(this.selection) }
      }).map(label => LabelDataWrapper(label));
      const missing = keys(this.selection).filter(
        key => !find(labels, { key })
      );
      if (missing.length) console.warn("Missing labels:", missing);
      else console.log("Found all:", this.selection, labels);
      return labels;
    }
  },
  data: () => ({
    // labelData: null,
  }),
  computed: {
    selection() {
      return chain(this.labelKey)
        .split(",")
        .map(str => str.split("_"))
        .fromPairs()
        .value();
    }
  },
  watch: {
    labels: label =>
      (document.title =
        `Print ` + (labels ? `'${labels.map(l => l.name).join(", ")}'` : ""))
  },
  methods: {size},
};
</script>

<style lang="sass" scoped>
 /*@media print*/
header
    display: none

.label-card
    page-break-inside: avoid
    border-radius: 0 // bad when cutting the printed

    // &.--size-small, &.--size-medium, &.--size-large
    //     width: 138mm !important
    // &.--size-medium
    //     height: 84mm !important
    // &.--size-large
    //     height: 138mm !important
    box-shadow: none;
</style>