.q-tooltip.-white
  color: var(--q-color-dark)
  background-color: rgba(255, 255, 255, 0.8)
  font-weight: bold
  // copied from button
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12)

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.spinning
  animation: spin 1s linear infinite

.compact-notification
  min-width: 1em
  transition: transform 0.5s, opacity 0.2s
  .q-notification__message
    padding-right: 4px